{% extends 'base.html' %}

{% block content %}
    <div class="One_recipe Container">
        <div class="ONE_CARD">
            <img src="{{ recipe.photo_of_the_dish.url }}" alt="" height="300" width="300">
            <div class="stick">
            </div>
            <div>
                 <h1>{{ recipe.name }}</h1>
                 <p>{{ recipe.description }}</p>
                 <p>Cooking steps - {{ recipe.cooking_steps }}</p>
                 <p>Autor - {{ recipe.autor }}</p>
                 <p>Price - {{ recipe.average_price_in_restaurants }}</p>
                 <a href="/edit_recipe/{{recipe.id}}">Change</a>
            </div>
        </div>
    </div>
{% endblock %}